<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Pages</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <h1 class="font-sans">Hello World</h1>
  </body>
  <script>
    const discordBtn = document.getElementById("btn-discord");
    discordBtn.addEventListener("click", () => {
      window.location.href = "/api/auth/discord";
    });
    const googleBtn = document.getElementById("btn-google");
    googleBtn.addEventListener("click", () => {
      window.location.href = "/api/auth/google";
    });
  </script>
</html>
